@font-face {
  font-family: FunSized;
  src: url('../../public/assets/fonts/FunSized.ttf')
    format('truetype');
}

body {
  font-family: 'Digital';
  background: beige;
}

h1 {
  font-family: FunSized;
}
